:root {
  --Very-dark-desaturated-blue-2: hsl(223, 31%, 20%); /*keypad*/
  --red: hsl(6, 63%, 50%); /*key bg, toggle*/
}

/* ----------------------------GENERAL---------------------------------*/

html {
  font-family: League Spartan;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: auto;
}

main,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

h3 {
  position: absolute;
  top: -40%;
  right: 20%;
  color: grey;
  transition: all 0.5s ease;
}

/* ----------------------------CALCULATOR---------------------------------*/

.calculator {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------------------------TITLE AND TOGGLE----------------------------*/

.title-box {
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  font-size: 1rem;
}

.theme-selector {
  width: auto;
}

.theme-number {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* ----------------------------INPUT RANGE BAR-----------------------------*/

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"] {
  width: 4rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--Very-dark-desaturated-blue-2);
  height: 1.15rem;
  border-radius: 1.2rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: 0.12rem;
  background-color: var(--red);
  height: 2rem;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: var(--Very-dark-desaturated-blue-2);
  height: 1.15rem;
  border-radius: 1.2rem;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  margin-top: 0.12rem;
  background-color: var(--red);
  height: 0.7rem;
}

/* ----------------------------SCREEN--------------------------------------*/

.screen {
  width: 100%;
  height: 5.7rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 1rem;
  transition: all 0.3s ease;
  position: relative;
}

.screen p {
  padding-right: 1.5rem;
  font-size: 2.5rem;
}

/* ----------------------------KEYBOARD-----------------------------------*/

.keyboard {
  margin-top: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 100%;
  height: auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  grid-template-areas:
    "num   num  num   num"
    "num   num  num   num"
    "num   num  num   num"
    "num   num  num   num"
    "res  res   eq   eq";
  transition: all 0.3s ease;
}

.keyboard div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

button {
  font-family: League Spartan;
  width: 100%;
  height: 3.5rem;
  font-size: 2rem;
  font-weight: 800;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.3s ease;
}

button:hover {
  filter: brightness(1.25);
  cursor: pointer;
}

.reset {
  grid-area: res;
}

.equal {
  grid-area: eq;
}

.delete button,
.reset button {
  font-weight: 700;
  font-size: 1.5rem;
}
